<% if user_signed_in? %>

  <% content_for :title, "Friends" %>

  <h1>Friends</h1>

  <table class="table table-hover table-responsive">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Instagram</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.instagram %></td>
            <td><%= button_to "Delete", friend, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
  </table>

  <%= link_to "New friend", new_friend_path, class:"btn btn-success"%>

<% else %>
  <h1>You need to sign in to see your friends</h1>
  <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary" %>
<% end %>